body {
      font-family: Arial, sans-serif;
      background: #f4f6f8;
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }

    h1 {
      text-align: center;
    }

    .search {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    input {
      flex: 1;
      padding: 10px;
      font-size: 16px;
    }

    button {
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
    }

    .card {
      background: white;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    ul {
      padding-left: 20px;
    }
    .info{
      background-color: blue;
    }
    