body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0a0e15;
  color:white;
  height:100vh;
  display:flex;
  flex-direction:column;
}

.top{
  padding:10px 20px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.top h1{
  margin:0;
  font-size:22px;
}

.search{
  display:flex;
  background:#2a2f3a;
  padding:10px;
  border-radius:10px;
  gap:10px;
}

.search input{
  flex:1;
  background:none;
  border:none;
  color:white;
  font-size:16px;
  outline:none;
}

.search button{
  background:#4da3ff;
  border:none;
  padding:8px 15px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

.app{
  flex:1;
  display:grid;
  grid-template-columns:60% 40%;
}
.bottomPanel{
  padding:10px;
  overflow-y:auto;
  height:100%;
}


.topPanel{
  padding:10px;
  display:grid;
  grid-template-rows:auto auto 1fr;
  gap:10px;
  height:100%;
}


.bottomPanel{
  padding:10px;
  overflow-y:auto;
}

.mainWeather{
  display:grid;
  grid-template-columns:50% 50%;
  gap:10px;
}

.leftBlock{
  display:grid;
  grid-template-rows:50% 50%;
  gap:10px;
  padding-bottom: 10px;
}

.imageBlock img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:15px;
}

.card{
  background:#212631;
  border-radius:15px;
  padding:15px;
}

.tempBig{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:48px;
  font-weight:bold;
  
}

.hourly{
  overflow-x:auto;
  white-space:nowrap;
}

.hourly ul{
  display:flex;
  gap:20px;
  list-style:none;
  padding:0;
}

.hourly li{
  background:#2a2f3a;
  padding:10px;
  border-radius:10px;
}

.currentGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.daily ul{
  list-style:none;
  padding:0;
}

.daily li{
  background:#2a2f3a;
  margin-bottom:10px;
  padding:10px;
  border-radius:10px;
}
